<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Production</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.FONT_AWESOME</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>flick</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.UPLOADER</param-name>
        <param-value>auto</param-value>
    </context-param>
    <context-param>
        <param-name>alternatedocroot_1</param-name>
        <param-value>C:\netbeans_projects\IS3106\project\zhcq-co\alternateDocRoot\images</param-value>
    </context-param>
    <filter>
        <filter-name>PrimeFaces FileUpload Filter</filter-name>
        <filter-class>
         org.primefaces.webapp.filter.FileUploadFilter
        </filter-class>
    </filter>
    <filter-mapping>
        <filter-name>PrimeFaces FileUpload Filter</filter-name>
        <servlet-name>Faces Servlet</servlet-name>
    </filter-mapping>
    <listener>
        <description>ServletContextListener, HttpSessionListener</description>
        <listener-class>web.listerner.WebApplicationListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>
    <ejb-local-ref>
        <ejb-ref-name>MemberControllerLocal</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local-home>ejb.stateless.memberControllerLocal</local-home>
        <local>ejb.stateless.memberControllerLocal</local>
        <ejb-link>ZhcqRetailSystem-ejb.jar#MemberController</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>CheckoutController</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ejb.stateless.CheckoutControllerLocal</local>
        <ejb-link>ZhcqRetailSystem-ejb.jar#CheckoutController</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>WishListController</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ejb.stateless.WishListControllerLocal</local>
        <ejb-link>ZhcqRetailSystem-ejb.jar#WishListController</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>WishListController1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ejb.stateless.WishListControllerLocal</local>
        <ejb-link>ZhcqRetailSystem-ejb.jar#WishListController</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>PromotionController</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ejb.stateless.PromotionControllerLocal</local>
        <ejb-link>ZhcqRetailSystem-ejb.jar#PromotionController</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>CoordinatedOutfitControllerLocal</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ejb.stateless.CoordinatedOutfitControllerLocal</local>
        <ejb-link>ZhcqRetailSystem-ejb.jar#CoordinatedOutfitController</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>SalesTransactionSessionBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ejb.stateless.SalesTransactionSessionBeanLocal</local>
        <ejb-link>ZhcqRetailSystem-ejb.jar#SalesTransactionSessionBean</ejb-link>
    </ejb-local-ref>
</web-app>
